body {
    background: #34495e; /* Azul oscuro */
    /* Agregamos la siguiente línea para compatibilidad con navegadores más antiguos */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    /* Agregamos la siguiente línea para navegadores más modernos */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}
